body {
	background-color: #f2f3f4;
	font-family: "ff-meta-web-pro", helvetica, arial, sans-serif;
}


.wrapper{
	position: relative;
	margin-top: 5em;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	
}

header .header_buttons{
	display: inline-block;
	padding: 0em 0em 0em 0em;
}

.line{
	display: inline-block;
	position: relative;
	width: 22.5%;
	height: 17em;
	border: 2px solid #303030;
	border-radius: 2.5px;
	margin: 0 1.2% 2em 1%;
}

.line:nth-of-type(4n+1) {
	margin-left: 0;
}

.line:nth-of-type(4n) {
	margin-right: 0;
}


/*----- h1, h2, h3, h4, etc... -----*/

h1{
	font-family: "din-condensed-web", helvetica, arial, sans-serif;
	font-weight: normal;
	font-size: 6em;
	text-transform: uppercase;
	color: #303030;
	text-align: center;
	margin: 0em;
}

header h1{
	font-family: "din-condensed-web", helvetica, arial, sans-serif;
	font-weight: normal;
	font-size: 2.5em;
	text-transform: uppercase;
	color: #303030;
	margin: 0em;
	padding-left: .2em;
	padding-top: .2em;
	float: left;
}

/*----- headers -----*/

header{
	width: 100%;
	padding-bottom: 0em;
	border-bottom: 2px solid #303030;
	overflow: hidden;
}

header .left {
	float: left;
	display: inline-block;
}

header .right {
	float: right;
	display: inline-block;
	margin-top: 0em;
}

.line_header{
	width: 100%;
	background-color: #303030;
	padding-top: .01em;
	padding-bottom: .01em;
}

/*----- containers -----*/

.login_container{
	width: 50%;
	float: left;
	padding-right: .5em;
	border-right: 2px solid #303030;
}

.info_container{
 	width: 40%;
	float: left;
	padding-left: 2em;
}

.line_container{
	width: 100%;
	margin: 2.5em auto;
	overflow: hidden;
	display: inline-block;
}
/*----- forms -----*/

header form{
	padding-top: .18em;
	margin: 0 3em 0 0;
	width: 12em;
	display: inline-block;
	
}

header input[type="text"]{
	width: 100%;
	font-family: "ff-meta-web-pro", helvetica, arial, sans-serif;
	font-size: 1.2em;
	padding: .1em .3em;
	
}

input[type="text"], input[type="password"]{
	width: 80%;
	display: block;
	margin: .5em auto;
	font-family: "ff-meta-web-pro", helvetica, arial, sans-serif;
	color: #303030;
	font-size: 1.5em;
	padding: .3em;
}

input[type="submit"]{
	font-family: "ff-meta-web-pro", helvetica, arial, sans-serif;
	font-size: 2em;
	background-color: #ccc;
	color: #303030;
	border: none;
	padding: .1em .7em;
	margin-left: 8%;
	margin-top: .5em;
	cursor: pointer;
	border-radius: 5px;
}

input[type="submit"]:hover{
    color: white;
	background-color: #303030;
}

/*----- images -----*/

.login_logo{
	margin: auto;
	display: block;
	width: 25%;
}

header a img{
	display: block;
	float: left;
}

.carabiner{
	height: 2.5em;
}
/*----- paragraphs -----*/

.info_container p{
	font-size: 2em;
	width: 75%;
	display: block;
	margin: 3em auto 1em auto;
}

.line p{
	padding: 0em 1em;
}

/*----- lists -----*/

.line_header ul{
	width: 10em;
	margin-left: -1.5em;
}

.line_header li{
	list-style: none;
	color: white;
	font-family: "ff-meta-web-pro", helvetica, arial, sans-serif;
	font-size: 1em;
	text-transform: uppercase;
	margin-left: 0;
}

/*----- links -----*/

a{
	text-decoration: none;
	color: #303030;
}


header .header_buttons a{
	text-decoration: none;
	color: #303030;
	font-size: 1.15em;
	background-color: #f2f3f4;
	border: 2px solid #303030;
	padding: .01em .4em;
	margin: 0 .4;
	border-radius: 5px;
}

header .header_buttons .browse {
	text-decoration: none;
	font-size: 1.15em;
	background-color: #ccc;
	color: #303030;
	border: 2px solid #ccc;
	padding: .01em .4em;
	margin: 0 .25em;
	border-radius: 5px;
}

header .header_buttons .browse:hover {
	background-color: #303030;
	color: white;
	border-color: #303030;
}


header .homepage_link{
	display: inline-block;
	float: left;
	padding-bottom: 1em;
	padding-right: 2em;
	background-color: none;
}

.info_container a {
	padding: 0 .7em;
	font-size: 2em;
	margin-left: 2em;
	clear: both;
	margin-top: 1em;
	
}

.info_container .arrow_button {
	margin-bottom: .5em;
	padding-left:.7em;
	padding-right:.7em;

}

.arrow_button {
  padding: 0.05em;
  background-color: #ccc;
  display: inline-block;
  position: relative;
}

.arrow_button:after {
  border: 25px solid transparent;
  content: ' ';
  height:0;
  width:0;
  position: absolute;
  top: 0;
  left: 100%;
  border-left-color: #ccc; 
}

.arrow_button:before {
  border: 25px solid #ccc;
  content: ' ';
  height:0;
  width:0;
  position: absolute;
  top: 0;
  left: -25px;
  border-left-color: transparent;
  z-index: -99999;
}

.arrow_button:hover {
  background-color: #303030;
  color: white;
}

.arrow_button:hover:before {
  border:25px solid #303030;
  border-left-color: transparent;
}

.arrow_button:hover:after {
  border: 25px solid transparent;
  border-left-color: #303030;
}