/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot');
	src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('fonts/icomoon.svg#icomoon') format('svg'),
		url('fonts/icomoon.woff') format('woff'),
		url('fonts/icomoon.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

.icon-pin:before, .icon-logo:before {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	line-height: 1.2;
	-webkit-font-smoothing: antialiased;
}
.icon-pin:before {
	content: "\e000";
}
.icon-logo:before {
	content: "\e001";
}


body {	
	font-family: "museo-sans", helvetica, arial, sans-serif;
	font-size: 100%;
	color: #303030;
	
}

* {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;
	
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;

}

*:focus, input:focus, submit:focus, select:focus, textarea:focus {
	-webkit-appearance: none;
	outline: none;
	box-shadow: 0 0 5px #ddd;
}

a {
	color: inherit;
	text-decoration: none;
}

p {
	line-height: 1.2;
}

.wrap {
	width: 80%;
	margin: auto;
	overflow: hidden;
}



/*#########################################################HEADER STYLES#####################*/

header {
	position: fixed;
	top: 0;
	left: 0;
	border-bottom: 1px solid #eee;
	width: 100%;
	background-color: white;
	z-index: 99999;
	
	-webkit-transition: top 0s ease;
	-moz-transition: top 0s ease;
	-o-transition: top 0s ease;
	transition: top 0s ease;
}

.logo {
	display: inline-block;
	overflow: hidden;
	padding: 1em 0 .5em 1em;
}

header div, header form {
	display: inline-block;
	padding: .5em .5em .5em 0;
}

header h1 {
	font-family: "din-condensed-web", helvetica, arial;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 1.5em;
	color: #303030;
	display: inline-block;
	float: left;
	padding-top: 8px;
}

header .icon-logo {
	color: #4291cc;
	display: inline-block;
	font-size: 2em;
	padding-top: 0px;
	padding-right: .2em;
	float: left;
}

.right {
	float: right;
}

.search {
	margin-right: 2em;
}

.search input {
	font-family: "museo-sans", helvetica, arial, sans-serif;
	padding: 5px;
	color: #303030;
	border: 1px solid #eee;
	font-size: 1em;
	width: 12em;
}

.search select, .search option {
	font-family: "museo-sans", helvetica, arial, sans-serif;
	padding: 5px 1em;
	color: #303030;
	border: 1px solid #eee;
	font-size: 1em;
	background-color: #eee;
	-webkit-appearance: none;
	-moz-appearance: none;
	border-radius: 0;
	font-weight: bold;
	
}

.logged_in_user {
	font-weight: bold;
	margin-right: .5em;
}

h1 {
	font-family: "din-condensed-web", helvetica, arial, sans-serif;
	font-weight: 400;
	text-transform: uppercase;
	
}

/*#########################################################MESSAGE CENTER STYLES#####################*/


.mast_head {
	-webkit-transition: all 0s ease;
	-moz-transition: all 0s ease;
	-o-transition: all 0s ease;
	transition: all 0s ease;
	
	background-image: url(grand_canyon.jpg);
	background-size: 150%;
	position: fixed;
	width: 100%;
	z-index: -200;
	top:0;
	left: 0;
	padding: 7em;
}

.mast_head_container {
	border-radius: 5px;
	font-size: 2em;
	margin: auto;
	width: 30%;
}

.greeting {
	background-color: #303030;
	color: #fff;
	border-radius: 5px 5px 0 0;
	text-align: center;
	padding: 1em 0;
}

.big_search {
	background-color: #fff;
	padding: 1em;
	font-size: .5em;
	font-weight: bold;
}

.big_search h2 {
	margin-bottom: 1em;
}

.big_search input {
	width: 100%;
	font-family: "museo-sans", sans-serif;
	color: #303030;
	outline: none;
	border: 1px solid #ddd;
	font-size: 1em;
	padding: .5em;
	margin-bottom: .5em;
}

.big_search select {
	font-family: "museo-sans", helvetica, arial, sans-serif;
	padding: .5em;
	display: block;
	color: #fff;
	font-size: 1em;
	background-color: #303030;
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	border-radius: 3px;
	font-weight: bold;
	width: 100%;
	text-align: center;
}

.submit {
	background-color: #303030;
	border-radius: 0 0 5px 5px;
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
	font-size: .5em;
	text-align: center;
	padding: 1em;
}

.big_submit:hover .submit {
	background-color: #383838;
}
/*#########################################################MESSAGE CENTER STYLES#####################*/


.message_center {
	background-color: #fff;
	padding-top: 1em;
	margin-top: 60em;
	border-top: 1px solid #eee;
}

.message_center h2 {
	font-size: 2em;
}

.visible {
	padding-bottom: 1em;
	overflow: hidden;
}

.notifier {
	float: left;
	font-weight: bold;
	margin-top: 1em;
}

.new_buttons {
	float: right;
}

.new_button {
	padding: .5em 1em .4em 1em;
	background-color: #303030;
	color: white;
	text-align: center;
	border-radius: 3px;
	display: inline-block;
	margin-left: 1em;
	overflow: hidden;
	position: relative;
}

.new_button .icon-pin, .new_button .icon-logo{
	display: inline-block;
	color: #4291cc;
	font-size: 1.5em;
}

.new_button .button_text {
	display: inline-block;
	float: right;
	margin-top: 6px;
	margin-left: 3px;
}

.new_button:hover {
	background-color:#383838;
}


.invisible {
	width: 100%;
	overflow: hidden;
}

.message {
	display: block;
	overflow: hidden;
	border-top: 1px solid #eee;
	padding: 1em 0;
	
}

.message h3 {
	display: inline-block;
	float: left;
	font-size: 1.3em;
	padding-top: .3em;
}

.message a {
	display: inline-block;
	float: right;
	background-color: #4291cc;
	border-radius: 3px;
	padding: .6em 1em .5em 1em;
	color: white;
}

.message a:hover {
	background-color: #6eb5e0;
}

/*#########################################################LINES CONTAINER STYLES#####################*/

.lines_headline {
	display: block;
	border-bottom: 1px solid #ddd;
	padding: 3em 0 1em 0;
	margin-bottom: 1em;
}

.lines_headline h2 {
	font-size: 2em;
	font-weight: bold;
}

.lines_container {
	background-color: #f2f3f4;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
}

.line_list {
	border-bottom: 1px solid #ddd;
	padding-bottom: 1em;
	margin-bottom: 2em;
	overflow: hidden;
}

.line {
	width: 25%;
	padding: 1em;
	float: left;
}

.line_info {
	background-color: #fff;
	border: 1px solid #ddd;
	width: 100%;
	padding: 1em;
}

.line_info span {
	display: block;
	margin-bottom: .3em;
}

.line_descrip {
	background-color: #eee;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	padding: 1em;
	
}

.action_buttons a {
	display: block;
	width: 50%;
	background-color: #303030;
	padding: 1em;
	color: #fff;
	text-align: center;
	float: left;
}

.action_buttons a:first-of-type {
	border-radius: 0 0 0 5px;
	border-right: 1px solid #eee;
}

.action_buttons a:last-of-type {
	border-radius: 0 0 5px 0;
}

.action_buttons a:hover {
	background-color: #383838;
}

/*#########################################################FOOTER STYLES#####################*/

footer {
	background-color: #303030;
	color: #fff;
	overflow: hidden;
}

footer .wrap {
	margin-top: 2em;
	border-top: 1px solid #fff;
	padding-top: 2em;
}

.about {
	float: left;
	width: 25%;
	padding-right: 1em;
	border-right: 1px solid #fff;
}

.resources {
	float: left;
	width: 25%;
	padding: 0 1em;
	border-right: 1px solid #fff;
}

.resources ul {
	margin-top: .7em;
	line-height: 1.2em;
}

.legal {
	float: left;
	width: 50%;
	padding-left: 1em;
}

.contact {
	width: 100%;
	border-top: 1px solid #fff;
	float: left;
	margin-top: 2em;
	margin-bottom: 6em;
}

.contact a {
	display: block;
	width: 40%;
	background-color: #4291cc;
	padding: 1em;
	border-radius: 3px;
	color: #303030;
	margin: 1em auto;
	text-align: center;
}

.contact a:hover {
	background-color: #6eb5e0;
}